

{% block content %}
        <div class="container">
        {% for post in data %}
            <div class="card">
                <h5 class="card-header">{{post.author}}</h5>
                     <div class="card-body">
                          <h5 class="card-title">{{post.title}}</h5>
                          <p class="card-text">{{post.description}}</p>
                            <div class=" text-muted mb-2">
                                  {{ post.published_on|timesince:now }} ago
                            </div>
                          <a href="{% url "comment_section" %}" class="btn btn-primary">Comments</a>
                    </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock content %}